<div class="form__review">
  <div class="form__close"></div>
  <div class="reviews__block">
    <ul class="reviews__list">
    </ul>
  </div>
  <h3 class="form__title">Отзыв:</h3>
  <form class="form">
    <div class="form__content">
      <input id="name" type="text" class="input" name="name" placeholder="Укажите ваше имя">
      <input id="place" type="text" class="input" name="place" placeholder="Укажите место">
      <textarea id="feedback" class="input input__textarea" name="comment" placeholder="Оставить отзыв"></textarea>
    </div>
    <input id="button" type="submit" class="form__button" value="Добавить">
  </form>
</div>