<div class="form__review">
  <div class="reviews__block">
        <ul class="reviews__list">
            <li class="review__item">
                Очень хорошее место!
            </li>
        </ul>
    </div>
  <h3 class="form__title">Отзыв:</h3>
  <form class="form">
    <div class="form__content">
      <input type="text" class="form__name" data-role="form__name" placeholder="Укажите ваше имя">
      <input type="text" class="form__place" data-role="form__place" placeholder="Укажите место">
      <textarea name="textarea" class="form__textarea" data-role="form__text" placeholder="Оставить отзыв"></textarea>
    </div>
    <input type="submit" class="form__button" data-role="form__add" value="Добавить">
  </form>
</div>